<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Dev Shop</title>

    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="../../Content/index-theme.css" rel="stylesheet" />

</head>
<body role="document">

    <div class="container theme-showcase" id="DevShopStore" role="main">

        <div class="jumbotron">
            <h1>Dev Shop</h1>
        </div>

        <div id="StoreBuyingCompletedMode">
            <div id="StoreHeader">
                <div class="page-header">
                    <h2>Your Order is Confirmed</h2>
                </div>
                <div>
                    <p> Thanks for buying with Dev Shop.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>


</body>
</html>
